p
  | Want to get in touch with me? Drop me a message or use one of my 
  a(href='/#header') profiles
  | .

form.contact-form(action="https://formspree.io/terabaud@gmail.com", method="POST")
  .contact-form__field
    label.contact-form__label(for="fromName") Name
    input.contact-form__input#fromName(name="name", required)
  .contact-form__field
    label.contact-form__label(for="replyTo") E-Mail
    input.contact-form__input#replyTo(name="_replyto", required)
  .contact-form__field
    label.contact-form__label(for="message") Message
    textarea.contact-form__input#message(name="text", cols="80", rows="10", required)
  button.contact-form__submit(type="submit") Submit