footer.footer
  nav.footer__nav
    ul.footer__list
      li.footer__list-item
        | &copy; 2018 Lea Rosema
      li.footer__list-item
        a(href='https://github.com/terabaud/terabaud.github.io') Github
      li.footer__list-item
        a(href='https://github.com/terabaud/terabaud.github.io/blob/master/LICENSE') License