header#header.header(role='banner')
  canvas.header__canvas
  .header__wrapper
    .header__text#welcome-section
      h1.header__caption Hi! I am Lea 👋
      nav.social
        ul.social__list
          li.social__list-item
            a.social__link#profile-link(href='https://github.com/terabaud/' aria-label='GitHub' target='_blank')
              i.fab.fa-github(aria-hidden='true')
          li.social__list-item
            a.social__link(href='https://stackoverflow.com/users/388201/terabaud' aria-label='StackOverflow' target='_blank')
              i.fab.fa-stack-overflow(aria-hidden='true')
          li.social__list-item
            a.social__link(href='https://codepen.io/terabaud/' aria-label='CodePen' target='_blank')
              i.fab.fa-codepen(aria-hidden='true')
          li.social__list-item
            a.social__link(href='https://twitter.com/terabaud/' aria-label='Twitter' target='_blank')
              i.fab.fa-twitter(aria-hidden='true')
          li.social__list-item
            a.social__link(href='https://www.xing.com/profile/Lea_Rosema' aria-label='Xing' target='_blank')
              i.fab.fa-xing(aria-hidden='true')
