main.main
  .main__section
    h3#about.main__section-link About Me
    include:markdown-it ../content/about.md
  .main__section
    h3#portfolio.main__section-link Projects
    include:markdown-it ../content/projects.md
  .main__section
    h3#contact.main__section-link Contact
    include contact.pug
