main.main
  .main__section#about
    h3.main__title About Me
    section.main__content
      include:markdown-it ../content/about.md
  .main__section#portfolio
    h3.main__title Projects
    section.main__content
      include:markdown-it ../content/projects.md
  .main__section#contact
    h3.main__title Contact
    section.main__content
      include contact.pug
