svg.filters
    filter#turbulence-1
        feTurbulence(type="fractalNoise", baseFrequency="0.01", numOctaves="3")
        feDisplacementMap(xChannelSelector="R", yChannelSelector="G", in="SourceGraphic", scale="5")
    filter#turbulence-2
        feTurbulence(type="fractalNoise", baseFrequency="0.015", numOctaves="3")
        feDisplacementMap(xChannelSelector="R", yChannelSelector="G", in="SourceGraphic", scale="7")
    filter#turbulence-3
        feTurbulence(type="fractalNoise", baseFrequency="0.02", numOctaves="3")
        feDisplacementMap(xChannelSelector="R", yChannelSelector="G", in="SourceGraphic", scale="5")
    filter#turbulence-4
        feTurbulence(type="fractalNoise", baseFrequency="0.025", numOctaves="3")
        feDisplacementMap(xChannelSelector="R", yChannelSelector="G", in="SourceGraphic", scale="4")
    filter#turbulence-5
        feTurbulence(type="fractalNoise", baseFrequency="0.03", numOctaves="3")
        feDisplacementMap(xChannelSelector="R", yChannelSelector="G", in="SourceGraphic", scale="3")
