:root {
  /*** General Settings ***/
  --text-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --caption-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  --page-max-width: 1000px;

  /*** Dark theme settings ***/
  --bg-color-2: #324;
  --bg-color: #111;
  --shadow-color: #000;
  --text-color: #eee;
  --captions: #fff;
  --link-color: #8cf;
  --nav-bg-color: #000;
  --nav-fg-color: #ffbfef;
  --nav-fg-color--hover: #fff;
}

@media (prefers-color-scheme: light) {
  /*** Light theme settings ***/
  :root {
    --bg-color: #fff;
    --text-color: #213;
    --captions: #442266;
    --link-color: rgb(33, 99, 233);
    --bg-color-2: #ffa1d1;
    --nav-bg-color: #426;
    --shadow-color: rgba(0,0,0,.5);
    --nav-fg-color: #fff;
    --nav-fg-color--hover: #ffbfef;
    --page-max-width: 1000px;
  }
}

@-webkit-keyframes wiggle {
    0% {
      -webkit-filter: url("#turbulence-1");
              filter: url("#turbulence-1");
    }
    25% {
      -webkit-filter: url("#turbulence-2");
              filter: url("#turbulence-2");
    }
    50% {
      -webkit-filter: url("#turbulence-3");
              filter: url("#turbulence-3");
    }
    75% {
      -webkit-filter: url("#turbulence-4");
              filter: url("#turbulence-4");
    }
    100% {
      -webkit-filter: url("#turbulence-5");
              filter: url("#turbulence-5");
    }
  }

@keyframes wiggle {
    0% {
      -webkit-filter: url("#turbulence-1");
              filter: url("#turbulence-1");
    }
    25% {
      -webkit-filter: url("#turbulence-2");
              filter: url("#turbulence-2");
    }
    50% {
      -webkit-filter: url("#turbulence-3");
              filter: url("#turbulence-3");
    }
    75% {
      -webkit-filter: url("#turbulence-4");
              filter: url("#turbulence-4");
    }
    100% {
      -webkit-filter: url("#turbulence-5");
              filter: url("#turbulence-5");
    }
  }

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: var(--text-font);
  font-size: 1.5em;
  line-height: 1.6;
  background: #111;
  background: var(--bg-color);
  color: #eee;
  color: var(--text-color);
  margin: 0;
}

svg.filters { display: none; }

a {
  color: #8cf;
  color: var(--link-color);
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--caption-font);
  font-weight: 400;
  margin: .25em 0;
  padding: 0;
  color: #fff;
  color: var(--captions);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

ul {
  padding: 0 .5em;
}

.nav {
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  position: fixed;
  background-color: #000;
  background-color: var(--nav-bg-color);
  width: 100%;
  height: auto;
  box-shadow: 0 0 25px 5px #000;
  box-shadow: 0 0 25px 5px var(--shadow-color);
}

.nav__list {
  height: auto;
  box-sizing: border-box;
  list-style: none;
  max-width: 1000px;
  max-width: var(--page-max-width);
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}

.nav__list-item {
  box-sizing: border-box;
  height: 100%;
}

.nav__link {  
  padding: 2vmin;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--caption-font);
  font-weight: bold;
  color: #ffbfef;
  color: var(--nav-fg-color);
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:active, 
.nav__link:hover {
  color: #fff;
  color: var(--nav-fg-color--hover);
}

.nav__link:hover {
  -webkit-animation: wiggle 0.45s linear infinite alternate;
          animation: wiggle 0.45s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .nav__link:hover {
    -webkit-animation: none;
            animation: none;
  }
}

.header {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 25px 5px #000;
  box-shadow: 0 0 25px 5px var(--shadow-color);
}

.header__wrapper {
  position: relative;
  max-width: 1000px;
  max-width: var(--page-max-width);
  box-sizing: border-box;
  padding: 3.5em .5em 0 .5em;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #324;
  background-color: var(--bg-color-2);
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-around; 
}

.social__list-item {
  display: block;
}

.social__link {
  font-size: calc(16px + 6vmin);
  padding-right: .5em;
}

.social__link:hover {
  -webkit-animation: wiggle 0.45s linear infinite alternate;
          animation: wiggle 0.45s linear infinite alternate;
}

.main__section {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 1000px;
  max-width: var(--page-max-width);
}

.main__content {
  min-height: 80vh;
}

.main__content:last-child {
  min-height: 70vh;
}

@media (min-width: 768px) {
  .main__content > p:first-child,
  .main__content > h4:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

.footer {
  background: #222;
  padding: 2em;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form {
  padding: .5em 0;
}

.contact-form__field {
  padding: .5em 0;
}

.contact-form__label {
  display: block;
}

textarea.contact-form__input,
input.contact-form__input {
  border: 1px solid #8cf;
  border: 1px solid var(--link-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 1em .5em;
}

.contact-form__submit {
  border: 1px solid #8cf;
  border: 1px solid var(--link-color);
  background: #8cf;
  background: var(--link-color);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  margin: .5em 0;
  padding: .5em 2em;
  font-size: 1.2em;
}

.contact-form__submit:hover {
  background: #324;
  background: var(--bg-color-2);
}

.contact-form__submit:active {
  background: #fff;
  color: #000;
}
