*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font);
  font-size: 133%;
  line-height: 1.5;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--link-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--caption-font);
  font-weight: 400;
  margin: 0;
  color: var(--captions);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}
