
.main__section {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--page-max-width);
}

.main__section-link {
  /* todo: 
     padding height should adjust 
     to the menu height */
  padding: 5em 0 0 0;
}