
.nav {
  box-sizing: border-box;
  position: sticky;
  z-index: 10;
  position: fixed;
  background-color: var(--nav-bg-color);
  width: 100%;
  height: auto;
  box-shadow: 0 0 25px 5px var(--shadow-color);
}

.nav__list {
  height: auto;
  box-sizing: border-box;
  list-style: none;
  max-width: var(--page-max-width);
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}

.nav__list-item {
  box-sizing: border-box;
  height: 100%;
}

.nav__link {  
  padding: 2vmin;
  display: block;
  margin: 0;
  font-family: var(--caption-font);
  font-weight: bold;
  color: var(--nav-fg-color);
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:active, 
.nav__link:hover {
  color: var(--nav-fg-color--hover);
}
